.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    text-align: center;
    color:white;
    font-family: Arial,Helvetica,sans-serif;
    font-size:24px;


}

div img {
	width: 100%;
	object-fit: cover;
}

#item1{
	
	grid-column-start: 1;
    grid-column-end: 3;
grid-row-start: 1;
    grid-row-end: 4;
}
#item2{
	grid-column-start: 3;
    grid-column-end: 5;
	grid-row-start: 1;
    grid-row-end: 4;
}
#item3{
	grid-column-start: 5;
    grid-column-end: 7;
	grid-row-start: 1;
    grid-row-end: 4;
}
}
#item4{
	background-color: #93EC90;
	grid-column-start: 7;
    grid-column-end: 11;
	grid-row-start: 1;
    grid-row-end: 3;
}
#item5{
	background-color: #EC90EC;
	grid-column-start: 7;
    grid-column-end: 9;
}
#item6{
	background-color: #0DFCFC;
	grid-column-start: 9;
    grid-column-end: 11;
}
