body {
  width:100%;
  margin:0;
  background-color: black;
}
h1 {
  color:white;
  font-size: 3em;
  font-family: Georgia;
  text-align: center;
}
.wrapper {
  max-width:100%;
  padding: 3vh 3vw;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.wrapper div {
  flex:0 0 48%;
}
.wrapper img {
  max-width:100%;
  padding-bottom: 3vh;
}
@media (max-width: 900px) {
  .wrapper {
    flex-direction:column;
  }
  .wrapper img {
    width: 100%;
  }
}

.work {
  background-image: url("../img/bryan.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.row {
  height: 50vh;
}
li a, li a:hover, li a:active{
  text-decoration: none;
  color: inherit;
  text-align: center;
}
  .bacon {
    margin: 4vw 4vh;
    color: yellow;
    font-size: 1em;
    animation: plate 2s; 
    text-decoration:none;
}
.bacon:active {
  color: green;
}
      
 .bacon:visited {
   text-decoration:none;
   color: inherit;
}
